.nav {
    display: grid;
    grid-template-columns: auto auto;
    overflow: hidden;
    background-color: black;
    width: 100%;
    height: auto;
}

.nav-logo {
    display: flex;
    justify-items: center;
    align-items: center;
    margin: 0 20px;
}

.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
    margin: 0 20px;
}

.nav-list a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 14px;
    text-transform: uppercase;
}

.nav-list a:hover {
    transition: 0.5s;
    background-color: white;
    color: black;

}

@media only screen and (max-width: 800px) {
    .nav {
        display: grid;
        grid-template-columns: auto;
        overflow: hidden;
        background-color: black;
        width: 100%;
        height: auto;
        justify-content: center;
    }
    .nav-logo{
        justify-content: center;
    }
}